[settings]

# size of the NMF featrues
K = 160

# number of iterations for main joint optimization
n_iter = 10_000

# learning rate for optimization 
learning_rate = 0.001

# how often to print loss in optimization
print_every = 1000

# if True, convert to alpha/h
convert_alpha = False

# if to add in the wide binaries
add_WBs = True

# if to add in the minesweeper dataset
add_MS = True

# if to add in the hot star dataset
add_HS = True

# if to remove nan stars from wide binary datasets
remove_nans = True

# if creating a training subset with subsample logic
train_w_subsample = True